<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Tasks</title>
  </head>
  <body>
    <h1>Add Tasks</h1>

    <!-- Form -->
    <form method="POST" action="/list">
      <p>Task: <input type="text" name="task"></p>
      <p>Due Date: <input type="date" name="due_date"></p>
      <p>Description: <input type="text"  name="description"></p>
      <p>Priority: <input type="text"  name="priority"></p>
      <input type="submit">
    </form>

  </body>
</html>
