<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The List</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <p>hello world</p>

    <%= @@tasks %>
  </body>
</html>
